<div class="container">
  <footer class='footer'>  
    <small>Alpha Blog is a blog built with Ruby on Rails in a ruby course on Udemy.  Enjoy!</small>
  </footer>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</div>